doctype

html(lang='en')
  head

    - var title = "Coursecode"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='img/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/ogg.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )

  body.info(data-img='img/5--.png')

    //  src="img/
    //  src="<?= get_template_directory_uri(); ?>/img/


    .bar-long.none

    .scroll__menu.none
      .container


    .all__menu
      .box__menu__
        .top__
          a.logo(href='javascript:;')
            img.logo__img(src='img/logo.svg', alt='logo_w')
          a.close(href='javascript:;')
            img(src='img/close_w.svg?v13', alt='logo_w')
        .menu__content
          ul.menu__
            li
              a(href='javascript:;') Recently Added
            li
              a(href='javascript:;') Masterclass Sessions
            li
              a(href='javascript:;') Summit Home
            li
              a(href='javascript:;') RTT
            li
              a(href='javascript:;') Human Longevity




    header.shop
      .container
        .row
          .col.m12.s12.l12.xl12
            a.logo(href='javascript:;')
              img.logo__img(src='img/logo_green.svg', alt='logo_w')

            ul.menu__
              li
                a(href='javascript:;') Option 1
              li
                a(href='javascript:;') Option 2
              li
                a(href='javascript:;') Option 3


            .box__
              .system_user
                .box__avatar
                  img.logo__img(src='img/avatar.png', alt='user')
                span.name(title="Alex Magamedov Alex Magamedov Alex Magamedov") Alex Magamedov
                a.menu__open(href='javascript:;')
                ul.select
                  li
                    a.my_universe__icon(href='javascript:;') My Universe
                  li
                    a.cart__icon(href='javascript:;') Cart
                  li
                    a.account__icon(href='javascript:;') Account Settings
                  li
                    a.log_out__icon(href='javascript:;') Log Out

              a.sandy_brown(href='javascript:;') Login
              a.help(href='javascript:;') Need help ?
            .box__cart
              a#cart.cart__(href='javascript:;')
                span 1
              .block__list.active
                a.close(href='javascript:;')
                #block__list__cart
                  .block__img
                    img.images(src='img/become-an-healer__1_big_img.png', alt='become-an-healer__1_big_img')

                  p.title Masterclass Sessions Masterclass Sessions 
                  span.prise $1000

                  a.sandy_brown(href='javascript:;') Cart
                
                
                
            a.mobile__(href='javascript:;')
              img.menu__img(src='img/menu.svg', alt='menu')


    .help__menu.main
      .container
        .row
          .col.m12.s12.l12.xl6
            .box__catygory
              .block__
                img.images(src='img/menu_user.png', alt='menu_user')
              ul
                li
                  a(href='javascript:;') Refund Help
                li
                  a(href='javascript:;') Change/Cancel Help
                li
                  a(href='javascript:;') Seats Help
                li
                  a(href='javascript:;') Comment/Complaint
                li
                  a(href='javascript:;') Baggage Help




          .col.m12.s12.l12.xl6

            ul
              li
                a(href='javascript:;') Help Center
              li
                a(href='javascript:;') Travel Planning FAQs
              li
                a(href='javascript:;') Receipts
              li
                a(href='javascript:;') SkyMiles Help
              li
                a(href='javascript:;') Certificates & eCredits

              li
                a(href='javascript:;') Help Center
              li
                a(href='javascript:;') Travel Planning FAQs
              li
                a(href='javascript:;') Receipts
              li
                a(href='javascript:;') SkyMiles Help
              li
                a(href='javascript:;') Certificates & eCredits


              li
                a(href='javascript:;') Help Center
              li
                a(href='javascript:;') Travel Planning FAQs
              li
                a(href='javascript:;') Receipts
              li
                a(href='javascript:;') SkyMiles Help
              li
                a(href='javascript:;') Certificates & eCredits


              li
                a(href='javascript:;') Help Center
              li
                a(href='javascript:;') Travel Planning FAQs
              li
                a(href='javascript:;') Receipts
              li
                a(href='javascript:;') SkyMiles Help
              li
                a(href='javascript:;') Certificates & eCredits



    section.section__.certification__1
      .container
        .row
          .col.m12.s12.l12.xl12
            .breadcrumbs(itemscope='' itemtype='http://schema.org/BreadcrumbList')
              ul
                li(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
                  a.breadcrumbs__link(href='https://springforesstg.wpengine.com/' itemprop='item')
                    span(itemprop='name') Home
                  meta(itemprop='position' content='1')
                li.breadcrumbs__current Professionals near you
                
        .row
          .col.m12.s12.l6.xl6
            h1.title Professionals near you
            
          .col.m12.s12.l6.xl6
            img(src='img/certification__1_img.png', alt='certification__1_img')

    
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title Spring Forest Qigong Practice Groups World Locations
            p.sub In your home town or a travel destination, find a practice group to continue your Qigong practice and stay in high energy vibration. If there is not a SFQ practice group in your area, it is time for you to start one!
            
          .col.m12.s12.l12.xl12
            .block__map
              .top
                .box__select
                  select(name='select')
                    // Supplement an id here instead of using 'name'
                    option(value='value1', selected='') Certified professionals
                    option(value='value2' ) Certified professionals
                    option(value='value3') Certified professionals
                    
                ul.list
                  li
                    a.chek(href='javascript:;') Show all
                  li
                    a(href='javascript:;') Instructors
                  li
                    a(href='javascript:;') Healers
                  li
                    a(href='javascript:;') Trainers
                  li
                    a(href='javascript:;') Group leaders
                    
                    
              .left__

                .block__left
                  p.title__left Karen Baxter
                
                  p PO Box 11034
                  p Whitehorse,Yukon Territory
                  p Canada Y1A 6L7

                a.orange(href='javascript:;') Contact
                
                h3.news Сertification
                ul.list
                  li.chek
                    a.select(href='javascript:;') 
                      img.logo__img(src='img/logo-leader.svg', alt='face')
                      | Certified Qigong Instructor
                      
                  li
                    a(href='javascript:;') 
                      img.logo__img(src='img/logo-healer.svg', alt='face')
                      | Certified Qigong Healer
                      
                  li
                    a(href='javascript:;') 
                      img.logo__img(src='img/logo-trainer.svg', alt='face')
                      | Certified Qigong Trainer
                      
                  li
                    a(href='javascript:;') 
                      img.logo__img(src='img/logo-leader.svg', alt='face')
                      | Certified Practice Group Leader
                  

                  
                
              .right__map
                img.map(src='img/map.png', alt='face')
                
              
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title Professionals
            

        .row
          .col.m6.s6.l3.xl3
            img.logo__img(src='img/logo-leader.svg', alt='face')
            h3 Certified Qigong Instructor
                      
          .col.m6.s6.l3.xl3
            img.logo__img(src='img/logo-healer.svg', alt='face')
            h3 Certified Qigong Healer
                      
          .col.m6.s6.l3.xl3
            img.logo__img(src='img/logo-trainer.svg', alt='face')
            h3 Certified Qigong Trainer
                      
          .col.m6.s6.l3.xl3
            img.logo__img(src='img/logo-leader.svg', alt='face')
            h3 Certified Practice Group Leader


      .container
        .row
          .col.m12.s12.l6.xl6
            h3.title Do you have a Spring Forest Qigong practice group?
            
            p You do not have to be a Certified Practice Group Leader to lead a practice group. If you have completed Spring Forest Qigong Level 1 for Health and Level 2 for healing home study programs, you can share your love and study of Spring Forest Qigong with your community by becoming a SFQ Practice Group Leader.
            p Your registration application will be reviewed by Spring Forest Qigong for approval. Many SFQ practice groups are open to the public, however, it is not a requirement. You can register your private practice group with SFQ. By submitting this application, you are agreeing to be listed on Spring Forest Qigong website and the information you submitted will be available to the Spring Forest Qigong community.
            
            
          
          .col.m12.s12.l6.xl6
            img.logo__img(src='img/certification__1_post_img_1.png', alt='face')
        .row
          .col.m12.s12.l7.xl7
            h4 Report A Certified Professional

            p In your home town or a travel destination, find a practice group to continue your Qigong practice and stay in high energy vibration. If there is not a SFQ practice group in your area, it is time for you to start one!
            
            
      .container
        .row
          .col.m12.s12.l6.xl6
            h3.title Become A Certified Practice Group Leader
            p In your home town or a travel destination, find a practice group to continue your Qigong practice and stay in high energy vibration. If there is not a SFQ practice group in your area, it is time for you to start one!
          .col.m12.s12.l6.xl6
            a.box__play(href='javascript:;')
              img.logo__img(src='img/certification__1_post_img_2.png', alt='face')
            

    footer.main
      .container
        .row
          .col.m5.s12.l4.xl3
            .box__logo
              img.logo__img(src='img/logo.svg', alt='logo_w')
            ul.sosel
              li
                a(href='javascript:;')
                  img.logo__img(src='img/face.svg', alt='face')
              li
                a(href='javascript:;')
                  img.logo__img(src='img/twit.svg', alt='twit')
              li
                a(href='javascript:;')
                  img.logo__img(src='img/pint.svg', alt='pint')
              li
                a(href='javascript:;')
                  img.logo__img(src='img/Inst.svg', alt='Inst')
              li
                a(href='javascript:;')
                  img.logo__img(src='img/yout.svg', alt='yout')


          .col.m7.s12.l8.xl4
            h4.title Quick Links

            ul
              li
                a(href='javascript:;') Lorem ipsum
              li
                a(href='javascript:;') Dolor sit amet
              li
                a(href='javascript:;') Consectetur
              li
                a(href='javascript:;') Adipiscing


            ul
              li
                a(href='javascript:;') Lorem ipsum
              li
                a(href='javascript:;') Dolor sit amet
              li
                a(href='javascript:;') Consectetur
              li
                a(href='javascript:;') Adipiscing


          .col.m7.s12.l8.xl5
            h3.title Suspendisse laoreet mattis diam neque sed.

            form(method='POST', action='javascript:void(null);')
              // Hidden Required Fields
              .form_input
                span.field
                  input.name(type='text', name='search', required='', value='', placeholder='Search')

              button.orange(type='submit', name='send') Subscribe

    div.copy
      .container
        .row
          .col.m12.s12.l12.xl12
            p © 2022, K-9 Dryers - 1906 Goldfinch Ln Sauk City WI, 53583






    a.bot_modal.none(data-fancybox='', data-src='#modal-2', href='javascript:;') Open Modal 2
    // //// MODAL ////
    #modal-2.modal__style.modal(style='display: none;')
      .content_modal
        h3 title

        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields

          .form_input
            span.field
              input(type='text', name='name', required='', value='', placeholder='Name')

          .form_input
            span.field
              input.phone(type='text', name='phone', required='', value='', placeholder='Phome')

          .form_input
            span.field
              textarea.textarea(name='message', required='', value='', placeholder='You message')

          button.green(type='submit', name='send') Send



    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
    script.
      // console.log('index.pug');

      $(function(){
        $('[data-fancybox]').fancybox({
        //  touch: false,
          autoFocus: false
        });

        $("#test").on('click', function(){
          $.fancybox.open('<div class="content__poly"><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae saepe cum a mollitia soluta, consequuntur dolor, rem ipsa voluptas sint dignissimos, at ratione accusantium quos. Sapiente, officia quo ipsam quis distinctio. Repellendus id distinctio, placeat, consequatur molestias in error voluptate dolorem voluptatum aliquam, eligendi minima.</p><div>');
        });

      });


