doctype

html(lang='en')
  head

    - var title = "Coursecode"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='img/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/ogg.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )

  body.info(data-img='img/4--.png')
  
    //  src="img/
    //  src="<?= get_template_directory_uri(); ?>/img/

    //https://www.youtube.com/embed/pv-bZ-PFog0?controls=0&rel=0&playsinline=1&enablejsapi=1&origin=https%3A%2F%2Fawakenedhealthacademy.com&widgetid=1


    .bar-long.none

    .scroll__menu.none
      .container


    .all__menu
      .box__menu__
        .top__
          a.logo(href='javascript:;')
            img.logo__img(src='img/logo.svg', alt='logo_w')
          a.close(href='javascript:;')
            img(src='img/close_w.svg?v13', alt='logo_w')
        .menu__content
          ul.menu__
            li
              a(href='javascript:;') Recently Added
            li
              a(href='javascript:;') Masterclass Sessions
            li
              a(href='javascript:;') Summit Home
            li
              a(href='javascript:;') RTT
            li
              a(href='javascript:;') Human Longevity




    header.shop
      .container
        .row
          .col.m12.s12.l12.xl12
            a.logo(href='javascript:;')
              img.logo__img(src='img/logo_green.svg', alt='logo_w')

            ul.menu__
              li
                a(href='javascript:;') Option 1
              li
                a(href='javascript:;') Option 2
              li
                a(href='javascript:;') Option 3


            .box__
              .system_user
                .box__avatar
                  img.logo__img(src='img/avatar.png', alt='user')
                span.name(title="Alex Magamedov Alex Magamedov Alex Magamedov") Alex Magamedov
                a.menu__open(href='javascript:;')
                ul.select
                  li
                    a.my_universe__icon(href='javascript:;') My Universe
                  li
                    a.cart__icon(href='javascript:;') Cart
                  li
                    a.account__icon(href='javascript:;') Account Settings
                  li
                    a.log_out__icon(href='javascript:;') Log Out

              a.sandy_brown(href='javascript:;') Login
              a.help(href='javascript:;') Need help ?
            a.cart__(href='javascript:;')
              span 1
            a.mobile__(href='javascript:;')
              img.menu__img(src='img/menu.svg', alt='menu')


    .help__menu.main
      .container
        .row
          .col.m12.s12.l12.xl6
            .box__catygory
              .block__
                img.images(src='img/menu_user.png', alt='menu_user')
              ul
                li
                  a(href='javascript:;') Refund Help
                li
                  a(href='javascript:;') Change/Cancel Help
                li
                  a(href='javascript:;') Seats Help
                li
                  a(href='javascript:;') Comment/Complaint
                li
                  a(href='javascript:;') Baggage Help




          .col.m12.s12.l12.xl6

            ul
              li
                a(href='javascript:;') Help Center
              li
                a(href='javascript:;') Travel Planning FAQs
              li
                a(href='javascript:;') Receipts
              li
                a(href='javascript:;') SkyMiles Help
              li
                a(href='javascript:;') Certificates & eCredits

              li
                a(href='javascript:;') Help Center
              li
                a(href='javascript:;') Travel Planning FAQs
              li
                a(href='javascript:;') Receipts
              li
                a(href='javascript:;') SkyMiles Help
              li
                a(href='javascript:;') Certificates & eCredits


              li
                a(href='javascript:;') Help Center
              li
                a(href='javascript:;') Travel Planning FAQs
              li
                a(href='javascript:;') Receipts
              li
                a(href='javascript:;') SkyMiles Help
              li
                a(href='javascript:;') Certificates & eCredits


              li
                a(href='javascript:;') Help Center
              li
                a(href='javascript:;') Travel Planning FAQs
              li
                a(href='javascript:;') Receipts
              li
                a(href='javascript:;') SkyMiles Help
              li
                a(href='javascript:;') Certificates & eCredits


    section.section__.checkout__1
    
      .container

        .row
          .col.m12.s12.l12.xl12
            .breadcrumbs(itemscope='', itemtype='http://schema.org/BreadcrumbList')
              ul
                li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
                  a.breadcrumbs__link(href='https://springfore1dev.wpengine.com/', itemprop='item')
                    span(itemprop='name') Home
                  meta(itemprop='position', content='1')
                li.breadcrumbs__current Checkout
            // .breadcrumbs
            a.border_orange(href='/cart/') Go Cart
          .col.m12.s12.l12.xl12
            .woocommerce
              .woocommerce-notices-wrapper
              // checkout/form-coupon.php
              .woocommerce-form-coupon-toggle
                .woocommerce-info
                  | Have a coupon? 
                  a.showcoupon(href='#') Click here to enter your code
              .woocommerce-notices-wrapper
              form.checkout.woocommerce-checkout(name='checkout', method='post', action='https://springfore1dev.wpengine.com/checkout/', enctype='multipart/form-data', novalidate='novalidate')
                .row
                  .col.m12.s12.l6.x6
                    ul.box__bat
                      #wc-stripe-payment-request-wrapper(style='clear:both;padding-top:1.5em;display:none;')
                        #wc-stripe-payment-request-button
                          // A Stripe Element will be inserted here.
                      p#wc-stripe-payment-request-button-separator(style='margin-top:1.5em;text-align:center;display:none;') &mdash; OR &mdash;
                      li.open

                        a.title(href='javascript:;') Shipping info
                        .tab__info
                          .block
                            .box__content
                              .woocommerce-billing-fields
                                h3 Billing details
                                .woocommerce-billing-fields__field-wrapper
                                  p#billing_first_name_field.form-row.form-row-first.validate-required(data-priority='10')
                                    label(for='billing_first_name')
                                      | First name&nbsp;
                                      abbr.required(title='required') *
                                    span.woocommerce-input-wrapper
                                      input#billing_first_name.input-text(type='text', name='billing_first_name', placeholder='', value='gslip228gmail-com', autocomplete='given-name')
                                  p#billing_last_name_field.form-row.form-row-last.validate-required(data-priority='20')
                                    label(for='billing_last_name')
                                      | Last name&nbsp;
                                      abbr.required(title='required') *
                                    span.woocommerce-input-wrapper
                                      input#billing_last_name.input-text(type='text', name='billing_last_name', placeholder='', value='', autocomplete='family-name')
                                  p#billing_company_field.form-row.form-row-wide(data-priority='30')
                                    label(for='billing_company')
                                      | Company name&nbsp;
                                      span.optional (optional)
                                    span.woocommerce-input-wrapper
                                      input#billing_company.input-text(type='text', name='billing_company', placeholder='', value='', autocomplete='organization')
                                  p#billing_country_field.form-row.form-row-wide.address-field.update_totals_on_change.validate-required(data-priority='40')
                                    label(for='billing_country')
                                      | Country / Region&nbsp;
                                      abbr.required(title='required') *
                                    span.woocommerce-input-wrapper
                                      select#billing_country.country_to_state.country_select(name='billing_country', autocomplete='country', data-placeholder='Select a country / region…', data-label='Country / Region')
                                        option(value='') Select a country / region&mldr;
                                        option(value='AF') Afghanistan
                                        option(value='AX') &angst;land Islands
                                        option(value='AL') Albania
                                        option(value='DZ') Algeria
                                        option(value='AS') American Samoa
                                        option(value='AD') Andorra
                                        option(value='AO') Angola
                                        option(value='AI') Anguilla
                                        option(value='AQ') Antarctica
                                        option(value='AG') Antigua and Barbuda
                                        option(value='AR') Argentina
                                        option(value='AM') Armenia
                                        option(value='AW') Aruba
                                        option(value='AU') Australia
                                        option(value='AT') Austria
                                        option(value='AZ') Azerbaijan
                                        option(value='BS') Bahamas
                                        option(value='BH') Bahrain
                                        option(value='BD') Bangladesh
                                        option(value='BB') Barbados
                                        option(value='BY') Belarus
                                        option(value='PW') Belau
                                        option(value='BE') Belgium
                                        option(value='BZ') Belize
                                        option(value='BJ') Benin
                                        option(value='BM') Bermuda
                                        option(value='BT') Bhutan
                                        option(value='BO') Bolivia
                                        option(value='BQ') Bonaire, Saint Eustatius and Saba
                                        option(value='BA') Bosnia and Herzegovina
                                        option(value='BW') Botswana
                                        option(value='BV') Bouvet Island
                                        option(value='BR') Brazil
                                        option(value='IO') British Indian Ocean Territory
                                        option(value='BN') Brunei
                                        option(value='BG') Bulgaria
                                        option(value='BF') Burkina Faso
                                        option(value='BI') Burundi
                                        option(value='KH') Cambodia
                                        option(value='CM') Cameroon
                                        option(value='CA') Canada
                                        option(value='CV') Cape Verde
                                        option(value='KY') Cayman Islands
                                        option(value='CF') Central African Republic
                                        option(value='TD') Chad
                                        option(value='CL') Chile
                                        option(value='CN') China
                                        option(value='CX') Christmas Island
                                        option(value='CC') Cocos (Keeling) Islands
                                        option(value='CO') Colombia
                                        option(value='KM') Comoros
                                        option(value='CG') Congo (Brazzaville)
                                        option(value='CD') Congo (Kinshasa)
                                        option(value='CK') Cook Islands
                                        option(value='CR') Costa Rica
                                        option(value='HR') Croatia
                                        option(value='CU') Cuba
                                        option(value='CW') Cura&ccedil;ao
                                        option(value='CY') Cyprus
                                        option(value='CZ') Czech Republic
                                        option(value='DK') Denmark
                                        option(value='DJ') Djibouti
                                        option(value='DM') Dominica
                                        option(value='DO') Dominican Republic
                                        option(value='EC') Ecuador
                                        option(value='EG') Egypt
                                        option(value='SV') El Salvador
                                        option(value='GQ') Equatorial Guinea
                                        option(value='ER') Eritrea
                                        option(value='EE') Estonia
                                        option(value='SZ') Eswatini
                                        option(value='ET') Ethiopia
                                        option(value='FK') Falkland Islands
                                        option(value='FO') Faroe Islands
                                        option(value='FJ') Fiji
                                        option(value='FI') Finland
                                        option(value='FR') France
                                        option(value='GF') French Guiana
                                        option(value='PF') French Polynesia
                                        option(value='TF') French Southern Territories
                                        option(value='GA') Gabon
                                        option(value='GM') Gambia
                                        option(value='GE') Georgia
                                        option(value='DE') Germany
                                        option(value='GH') Ghana
                                        option(value='GI') Gibraltar
                                        option(value='GR') Greece
                                        option(value='GL') Greenland
                                        option(value='GD') Grenada
                                        option(value='GP') Guadeloupe
                                        option(value='GU') Guam
                                        option(value='GT') Guatemala
                                        option(value='GG') Guernsey
                                        option(value='GN') Guinea
                                        option(value='GW') Guinea-Bissau
                                        option(value='GY') Guyana
                                        option(value='HT') Haiti
                                        option(value='HM') Heard Island and McDonald Islands
                                        option(value='HN') Honduras
                                        option(value='HK') Hong Kong
                                        option(value='HU') Hungary
                                        option(value='IS') Iceland
                                        option(value='IN') India
                                        option(value='ID') Indonesia
                                        option(value='IR') Iran
                                        option(value='IQ') Iraq
                                        option(value='IE') Ireland
                                        option(value='IM') Isle of Man
                                        option(value='IL') Israel
                                        option(value='IT') Italy
                                        option(value='CI') Ivory Coast
                                        option(value='JM') Jamaica
                                        option(value='JP') Japan
                                        option(value='JE') Jersey
                                        option(value='JO') Jordan
                                        option(value='KZ') Kazakhstan
                                        option(value='KE') Kenya
                                        option(value='KI') Kiribati
                                        option(value='KW') Kuwait
                                        option(value='KG') Kyrgyzstan
                                        option(value='LA') Laos
                                        option(value='LV') Latvia
                                        option(value='LB') Lebanon
                                        option(value='LS') Lesotho
                                        option(value='LR') Liberia
                                        option(value='LY') Libya
                                        option(value='LI') Liechtenstein
                                        option(value='LT') Lithuania
                                        option(value='LU') Luxembourg
                                        option(value='MO') Macao
                                        option(value='MG') Madagascar
                                        option(value='MW') Malawi
                                        option(value='MY') Malaysia
                                        option(value='MV') Maldives
                                        option(value='ML') Mali
                                        option(value='MT') Malta
                                        option(value='MH') Marshall Islands
                                        option(value='MQ') Martinique
                                        option(value='MR') Mauritania
                                        option(value='MU') Mauritius
                                        option(value='YT') Mayotte
                                        option(value='MX') Mexico
                                        option(value='FM') Micronesia
                                        option(value='MD') Moldova
                                        option(value='MC') Monaco
                                        option(value='MN') Mongolia
                                        option(value='ME') Montenegro
                                        option(value='MS') Montserrat
                                        option(value='MA') Morocco
                                        option(value='MZ') Mozambique
                                        option(value='MM') Myanmar
                                        option(value='NA') Namibia
                                        option(value='NR') Nauru
                                        option(value='NP') Nepal
                                        option(value='NL') Netherlands
                                        option(value='NC') New Caledonia
                                        option(value='NZ') New Zealand
                                        option(value='NI') Nicaragua
                                        option(value='NE') Niger
                                        option(value='NG') Nigeria
                                        option(value='NU') Niue
                                        option(value='NF') Norfolk Island
                                        option(value='KP') North Korea
                                        option(value='MK') North Macedonia
                                        option(value='MP') Northern Mariana Islands
                                        option(value='NO') Norway
                                        option(value='OM') Oman
                                        option(value='PK') Pakistan
                                        option(value='PS') Palestinian Territory
                                        option(value='PA') Panama
                                        option(value='PG') Papua New Guinea
                                        option(value='PY') Paraguay
                                        option(value='PE') Peru
                                        option(value='PH') Philippines
                                        option(value='PN') Pitcairn
                                        option(value='PL') Poland
                                        option(value='PT') Portugal
                                        option(value='PR') Puerto Rico
                                        option(value='QA') Qatar
                                        option(value='RE') Reunion
                                        option(value='RO') Romania
                                        option(value='RU') Russia
                                        option(value='RW') Rwanda
                                        option(value='ST') S&atilde;o Tom&eacute; and Pr&iacute;ncipe
                                        option(value='BL') Saint Barth&eacute;lemy
                                        option(value='SH') Saint Helena
                                        option(value='KN') Saint Kitts and Nevis
                                        option(value='LC') Saint Lucia
                                        option(value='SX') Saint Martin (Dutch part)
                                        option(value='MF') Saint Martin (French part)
                                        option(value='PM') Saint Pierre and Miquelon
                                        option(value='VC') Saint Vincent and the Grenadines
                                        option(value='WS') Samoa
                                        option(value='SM') San Marino
                                        option(value='SA') Saudi Arabia
                                        option(value='SN') Senegal
                                        option(value='RS') Serbia
                                        option(value='SC') Seychelles
                                        option(value='SL') Sierra Leone
                                        option(value='SG') Singapore
                                        option(value='SK') Slovakia
                                        option(value='SI') Slovenia
                                        option(value='SB') Solomon Islands
                                        option(value='SO') Somalia
                                        option(value='ZA') South Africa
                                        option(value='GS') South Georgia/Sandwich Islands
                                        option(value='KR') South Korea
                                        option(value='SS') South Sudan
                                        option(value='ES') Spain
                                        option(value='LK') Sri Lanka
                                        option(value='SD') Sudan
                                        option(value='SR') Suriname
                                        option(value='SJ') Svalbard and Jan Mayen
                                        option(value='SE') Sweden
                                        option(value='CH') Switzerland
                                        option(value='SY') Syria
                                        option(value='TW') Taiwan
                                        option(value='TJ') Tajikistan
                                        option(value='TZ') Tanzania
                                        option(value='TH') Thailand
                                        option(value='TL') Timor-Leste
                                        option(value='TG') Togo
                                        option(value='TK') Tokelau
                                        option(value='TO') Tonga
                                        option(value='TT') Trinidad and Tobago
                                        option(value='TN') Tunisia
                                        option(value='TR') Turkey
                                        option(value='TM') Turkmenistan
                                        option(value='TC') Turks and Caicos Islands
                                        option(value='TV') Tuvalu
                                        option(value='UG') Uganda
                                        option(value='UA') Ukraine
                                        option(value='AE') United Arab Emirates
                                        option(value='GB') United Kingdom (UK)
                                        option(value='US', selected='selected') United States (US)
                                        option(value='UM') United States (US) Minor Outlying Islands
                                        option(value='UY') Uruguay
                                        option(value='UZ') Uzbekistan
                                        option(value='VU') Vanuatu
                                        option(value='VA') Vatican
                                        option(value='VE') Venezuela
                                        option(value='VN') Vietnam
                                        option(value='VG') Virgin Islands (British)
                                        option(value='VI') Virgin Islands (US)
                                        option(value='WF') Wallis and Futuna
                                        option(value='EH') Western Sahara
                                        option(value='YE') Yemen
                                        option(value='ZM') Zambia
                                        option(value='ZW') Zimbabwe
                                      noscript
                                        button(type='submit', name='woocommerce_checkout_update_totals', value='Update country / region') Update country / region
                                  p#billing_address_1_field.form-row.address-field.validate-required.form-row-wide(data-priority='50')
                                    label(for='billing_address_1')
                                      | Street address&nbsp;
                                      abbr.required(title='required') *
                                    span.woocommerce-input-wrapper
                                      input#billing_address_1.input-text(type='text', name='billing_address_1', placeholder='House number and street name', value='strett', autocomplete='address-line1', data-placeholder='House number and street name')
                                  p#billing_address_2_field.form-row.address-field.form-row-wide(data-priority='60')
                                    label.screen-reader-text(for='billing_address_2')
                                      | Apartment, suite, unit, etc.&nbsp;
                                      span.optional (optional)
                                    span.woocommerce-input-wrapper
                                      input#billing_address_2.input-text(type='text', name='billing_address_2', placeholder='Apartment, suite, unit, etc. (optional)', value='', autocomplete='address-line2', data-placeholder='Apartment, suite, unit, etc. (optional)')
                                  p#billing_city_field.form-row.address-field.validate-required.form-row-wide(data-priority='70', data-o_class='form-row form-row-wide address-field validate-required')
                                    label(for='billing_city')
                                      | Town / City&nbsp;
                                      abbr.required(title='required') *
                                    span.woocommerce-input-wrapper
                                      input#billing_city.input-text(type='text', name='billing_city', placeholder='', value='city', autocomplete='address-level2')
                                  p#billing_state_field.form-row.address-field.validate-required.validate-state.form-row-wide(data-priority='80', data-o_class='form-row form-row-wide address-field validate-required validate-state')
                                    label(for='billing_state')
                                      | State&nbsp;
                                      abbr.required(title='required') *
                                    span.woocommerce-input-wrapper
                                      select#billing_state.state_select(name='billing_state', autocomplete='address-level1', data-placeholder='Select an option…', data-input-classes='', data-label='State')
                                        option(value='') Select an option&mldr;
                                        option(value='AL') Alabama
                                        option(value='AK') Alaska
                                        option(value='AZ') Arizona
                                        option(value='AR') Arkansas
                                        option(value='CA') California
                                        option(value='CO') Colorado
                                        option(value='CT') Connecticut
                                        option(value='DE') Delaware
                                        option(value='DC') District Of Columbia
                                        option(value='FL') Florida
                                        option(value='GA') Georgia
                                        option(value='HI') Hawaii
                                        option(value='ID') Idaho
                                        option(value='IL') Illinois
                                        option(value='IN') Indiana
                                        option(value='IA') Iowa
                                        option(value='KS') Kansas
                                        option(value='KY') Kentucky
                                        option(value='LA') Louisiana
                                        option(value='ME') Maine
                                        option(value='MD') Maryland
                                        option(value='MA') Massachusetts
                                        option(value='MI') Michigan
                                        option(value='MN') Minnesota
                                        option(value='MS') Mississippi
                                        option(value='MO') Missouri
                                        option(value='MT') Montana
                                        option(value='NE') Nebraska
                                        option(value='NV') Nevada
                                        option(value='NH') New Hampshire
                                        option(value='NJ') New Jersey
                                        option(value='NM') New Mexico
                                        option(value='NY') New York
                                        option(value='NC') North Carolina
                                        option(value='ND') North Dakota
                                        option(value='OH') Ohio
                                        option(value='OK') Oklahoma
                                        option(value='OR') Oregon
                                        option(value='PA') Pennsylvania
                                        option(value='RI') Rhode Island
                                        option(value='SC') South Carolina
                                        option(value='SD') South Dakota
                                        option(value='TN') Tennessee
                                        option(value='TX') Texas
                                        option(value='UT') Utah
                                        option(value='VT') Vermont
                                        option(value='VA') Virginia
                                        option(value='WA') Washington
                                        option(value='WV') West Virginia
                                        option(value='WI') Wisconsin
                                        option(value='WY') Wyoming
                                        option(value='AA') Armed Forces (AA)
                                        option(value='AE') Armed Forces (AE)
                                        option(value='AP') Armed Forces (AP)
                                  p#billing_postcode_field.form-row.address-field.validate-required.validate-postcode.form-row-wide(data-priority='90', data-o_class='form-row form-row-wide address-field validate-required validate-postcode')
                                    label(for='billing_postcode')
                                      | ZIP Code&nbsp;
                                      abbr.required(title='required') *
                                    span.woocommerce-input-wrapper
                                      input#billing_postcode.input-text(type='text', name='billing_postcode', placeholder='', value='12345', autocomplete='postal-code')
                                  p#billing_phone_field.form-row.form-row-wide.validate-required.validate-phone(data-priority='100')
                                    label(for='billing_phone')
                                      | Phone&nbsp;
                                      abbr.required(title='required') *
                                    span.woocommerce-input-wrapper
                                      input#billing_phone.input-text(type='tel', name='billing_phone', placeholder='', value='23456', autocomplete='tel')
                                  p#billing_email_field.form-row.form-row-wide.validate-required.validate-email(data-priority='110')
                                    label(for='billing_email')
                                      | Email address&nbsp;
                                      abbr.required(title='required') *
                                    span.woocommerce-input-wrapper
                                      input#billing_email.input-text(type='email', name='billing_email', placeholder='', value='gslip228@gmail.com', autocomplete='email username')
                                  input#bwfan_email_consent(type='hidden', value='1')
                        .block__bot
                          a.border_orange(href='javascript:;', data-next="1") Return
                          a.orange(href='javascript:;', data-next="2") Continue
                        
                                  
                      li
                        a.title(href='javascript:;') Shipping method
                        .tab__info
                          .block
                            .box__content
                              .woocommerce-shipping-fields
                              .woocommerce-additional-fields
                                h3 Additional information
                                .woocommerce-additional-fields__field-wrapper
                                  p#order_comments_field.form-row.notes(data-priority='')
                                    label(for='order_comments')
                                      | Order notes&nbsp;
                                      span.optional (optional)
                                    span.woocommerce-input-wrapper
                                      textarea#order_comments.input-text(name='order_comments', placeholder='Notes about your order, e.g. special notes for delivery.', rows='2', cols='5')
                                      
                        .block__bot
                          a.border_orange(href='javascript:;', data-next="2") Return
                          a.orange(href='javascript:;', data-next="3") Continue
                                      
                      li
                        a#order_review_heading.title(href='javascript:;')
                          | Payment method
                        .tab__info
                          div
                            .box__content
                              #order_review.woocommerce-checkout-review-order
                                table.shop_table.woocommerce-checkout-review-order-table
                                  thead
                                    tr
                                      th.product-name Product
                                      th.product-total Subtotal
                                  tbody
                                    tr.cart_item
                                      td.product-name
                                        | AMW 130819&nbsp;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; 
                                        strong.product-quantity &times;&nbsp;11
                                      td.product-total
                                        span.woocommerce-Price-amount.amount
                                          bdi
                                            span.woocommerce-Price-currencySymbol $
                                            | 385.00
                                    tr.cart_item
                                      td.product-name
                                        | Women&apos;s Conf Fee - Guild Member&nbsp;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; 
                                        strong.product-quantity &times;&nbsp;4
                                      td.product-total
                                        span.woocommerce-Price-amount.amount
                                          bdi
                                            span.woocommerce-Price-currencySymbol $
                                            | 1,076.00
                                    tr.cart_item
                                      td.product-name
                                        | Level Four Retreat 140810-14&nbsp;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; 
                                        strong.product-quantity &times;&nbsp;2
                                      td.product-total
                                        span.woocommerce-Price-amount.amount
                                          bdi
                                            span.woocommerce-Price-currencySymbol $
                                            | 1,970.00
                                    tr.cart_item
                                      td.product-name
                                        | Born A Healer Workshop (1 day)&nbsp;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; 
                                        strong.product-quantity &times;&nbsp;9
                                      td.product-total
                                        span.woocommerce-Price-amount.amount
                                          bdi
                                            span.woocommerce-Price-currencySymbol $
                                            | 1,338.75
                                    tr.cart_item
                                      td.product-name
                                        | Finding Your Soul Purpose - Digital Audio Downloads and eWorkbook&nbsp;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; 
                                        strong.product-quantity &times;&nbsp;5
                                      td.product-total
                                        span.woocommerce-Price-amount.amount
                                          bdi
                                            span.woocommerce-Price-currencySymbol $
                                            | 322.50
                                    tr.cart_item
                                      td.product-name
                                        | Appointment&nbsp;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; 
                                        strong.product-quantity &times;&nbsp;1
                                      td.product-total
                                        span.woocommerce-Price-amount.amount
                                          bdi
                                            span.woocommerce-Price-currencySymbol $
                                            | 0.00
                                  tfoot
                                    tr.cart-subtotal
                                      th Subtotal
                                      td
                                        span.woocommerce-Price-amount.amount
                                          bdi
                                            span.woocommerce-Price-currencySymbol $
                                            | 5,092.25
                                    tr.order-total
                                      th Total
                                      td
                                        strong
                                          span.woocommerce-Price-amount.amount
                                            bdi
                                              span.woocommerce-Price-currencySymbol $
                                              | 5,092.25
                                #payment.woocommerce-checkout-payment
                                  ul.wc_payment_methods.payment_methods.methods
                                    li.wc_payment_method.payment_method_stripe
                                      input#payment_method_stripe.input-radio(type='radio', name='payment_method', value='stripe', checked='checked', data-order_button_text='', style='display: none;')
                                      label(for='payment_method_stripe')
                                        | Credit Card (Stripe)
                                      .payment_box.payment_method_stripe
                                        #stripe-payment-data(data-email='gslip228@gmail.com', data-full-name=' ', data-currency='usd')
                                          p
                                            | Pay with your credit card via Stripe. TEST MODE ENABLED. In test mode, you can use the card number 4242424242424242 with any CVC and a valid expiration date or check the 
                                            a(href='https://stripe.com/docs/testing', target='_blank') Testing Stripe documentation
                                            |  for more card numbers.
                                          ul.woocommerce-SavedPaymentMethods.wc-saved-payment-methods(data-count='2')
                                            li.woocommerce-SavedPaymentMethods-token
                                              input#wc-stripe-payment-token-1.woocommerce-SavedPaymentMethods-tokenInput(type='radio', name='wc-stripe-payment-token', value='1', style='width:auto;', checked='checked')
                                              label(for='wc-stripe-payment-token-1') Visa ending in 4242 (expires 12/23)
                                              .stripe-source-errors(role='alert')
                                            li.woocommerce-SavedPaymentMethods-token
                                              input#wc-stripe-payment-token-3.woocommerce-SavedPaymentMethods-tokenInput(type='radio', name='wc-stripe-payment-token', value='3', style='width:auto;')
                                              label(for='wc-stripe-payment-token-3') Visa ending in 4242 (expires 12/34)
                                              .stripe-source-errors(role='alert')
                                            li.woocommerce-SavedPaymentMethods-new
                                              input#wc-stripe-payment-token-new.woocommerce-SavedPaymentMethods-tokenInput(type='radio', name='wc-stripe-payment-token', value='new', style='width:auto;')
                                              label(for='wc-stripe-payment-token-new') Use a new payment method
                                          fieldset#wc-stripe-cc-form.wc-credit-card-form.wc-payment-form(style='background:transparent;')
                                            .form-row.form-row-wide
                                              label(for='stripe-card-element')
                                                | Card Number 
                                                span.required *
                                              .stripe-card-group
                                                #stripe-card-element.wc-stripe-elements-field.StripeElement.empty
                                                  .__PrivateStripeElement(style='margin: 0px !important; padding: 0px !important; border: none !important; display: block !important; background: transparent !important; position: relative !important; opacity: 1 !important;')
                                                    iframe(name='__privateStripeFrame9747', frameborder='0', allowtransparency='true', scrolling='no', allow='payment *', src='https://js.stripe.com/v3/elements-inner-card-edf207c4be501cb2d1a7c362b7e15c9e.html#locale=en&wait=false&mids[guid]=NA&mids[muid]=282e5dbe-6655-4032-971d-6d64a5b769a650ae06&mids[sid]=110d2ed4-f523-4ab1-8456-9b16947e15498c2b53&style[base][iconColor]=%23666EE8&style[base][color]=%2331325F&style[base][fontSize]=15px&style[base][::placeholder][color]=%23CFD7E0&rtl=false&componentName=cardNumber&keyMode=test&apiKey=pk_test_51JkQrnDZz0WMi62F86OvFi54h7NopDCimN6m5JrnsA58KrQZXh1T1gJJEOifPlb73yAfZA9BK4dwhX2SqFIWuxyz004Pom47oK&referrer=https%3A%2F%2Fspringfore1dev.wpengine.com%2Fcheckout%2F&controllerId=__privateStripeController9741', title='Secure card number input frame', style='border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; user-select: none !important; transform: translate(0px) !important; color-scheme: only light !important; height: 18px;')
                                                    input.__PrivateStripeElement-input(aria-hidden='true', aria-label=' ', autocomplete='false', maxlength='1', style='border: none !important; display: block !important; position: absolute !important; height: 1px !important; top: -1px !important; left: 0px !important; padding: 0px !important; margin: 0px !important; width: 100% !important; opacity: 0 !important; background: transparent !important; pointer-events: none !important; font-size: 16px !important;')
                                                i.stripe-credit-card-brand.stripe-card-brand(alt='Credit Card')
                                            .form-row.form-row-first
                                              label(for='stripe-exp-element')
                                                | Expiry Date 
                                                span.required *
                                              #stripe-exp-element.wc-stripe-elements-field.StripeElement.empty
                                                .__PrivateStripeElement(style='margin: 0px !important; padding: 0px !important; border: none !important; display: block !important; background: transparent !important; position: relative !important; opacity: 1 !important;')
                                                  iframe(name='__privateStripeFrame9748', frameborder='0', allowtransparency='true', scrolling='no', allow='payment *', src='https://js.stripe.com/v3/elements-inner-card-edf207c4be501cb2d1a7c362b7e15c9e.html#locale=en&wait=false&mids[guid]=NA&mids[muid]=282e5dbe-6655-4032-971d-6d64a5b769a650ae06&mids[sid]=110d2ed4-f523-4ab1-8456-9b16947e15498c2b53&style[base][iconColor]=%23666EE8&style[base][color]=%2331325F&style[base][fontSize]=15px&style[base][::placeholder][color]=%23CFD7E0&rtl=false&componentName=cardExpiry&keyMode=test&apiKey=pk_test_51JkQrnDZz0WMi62F86OvFi54h7NopDCimN6m5JrnsA58KrQZXh1T1gJJEOifPlb73yAfZA9BK4dwhX2SqFIWuxyz004Pom47oK&referrer=https%3A%2F%2Fspringfore1dev.wpengine.com%2Fcheckout%2F&controllerId=__privateStripeController9741', title='Secure expiration date input frame', style='border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; user-select: none !important; transform: translate(0px) !important; color-scheme: only light !important; height: 18px;')
                                                  input.__PrivateStripeElement-input(aria-hidden='true', aria-label=' ', autocomplete='false', maxlength='1', style='border: none !important; display: block !important; position: absolute !important; height: 1px !important; top: -1px !important; left: 0px !important; padding: 0px !important; margin: 0px !important; width: 100% !important; opacity: 0 !important; background: transparent !important; pointer-events: none !important; font-size: 16px !important;')
                                            .form-row.form-row-last
                                              label(for='stripe-cvc-element')
                                                | Card Code (CVC) 
                                                span.required *
                                              #stripe-cvc-element.wc-stripe-elements-field.StripeElement.empty
                                                .__PrivateStripeElement(style='margin: 0px !important; padding: 0px !important; border: none !important; display: block !important; background: transparent !important; position: relative !important; opacity: 1 !important;')
                                                  iframe(name='__privateStripeFrame9749', frameborder='0', allowtransparency='true', scrolling='no', allow='payment *', src='https://js.stripe.com/v3/elements-inner-card-edf207c4be501cb2d1a7c362b7e15c9e.html#locale=en&wait=false&mids[guid]=NA&mids[muid]=282e5dbe-6655-4032-971d-6d64a5b769a650ae06&mids[sid]=110d2ed4-f523-4ab1-8456-9b16947e15498c2b53&style[base][iconColor]=%23666EE8&style[base][color]=%2331325F&style[base][fontSize]=15px&style[base][::placeholder][color]=%23CFD7E0&rtl=false&componentName=cardCvc&keyMode=test&apiKey=pk_test_51JkQrnDZz0WMi62F86OvFi54h7NopDCimN6m5JrnsA58KrQZXh1T1gJJEOifPlb73yAfZA9BK4dwhX2SqFIWuxyz004Pom47oK&referrer=https%3A%2F%2Fspringfore1dev.wpengine.com%2Fcheckout%2F&controllerId=__privateStripeController9741', title='Secure payment input frame', style='border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; user-select: none !important; transform: translate(0px) !important; color-scheme: only light !important; height: 18px;')
                                                  input.__PrivateStripeElement-input(aria-hidden='true', aria-label=' ', autocomplete='false', maxlength='1', disabled='', style='border: none !important; display: block !important; position: absolute !important; height: 1px !important; top: -1px !important; left: 0px !important; padding: 0px !important; margin: 0px !important; width: 100% !important; opacity: 0 !important; background: transparent !important; pointer-events: none !important; font-size: 16px !important;')
                                            .clear
                                            // Used to display form errors
                                            .stripe-source-errors(role='alert')
                                            .clear
                                          fieldset
                                            p.form-row.woocommerce-SavedPaymentMethods-saveNew.woocommerce-validated
                                              input#wc-stripe-new-payment-method(name='wc-stripe-new-payment-method', type='checkbox', value='true', style='width:auto;')
                                              label(for='wc-stripe-new-payment-method', style='display:inline;')
                                                | Save payment information to my account for future purchases.
                                  .form-row.place-order
                                    noscript
                                      | Since your browser does not support JavaScript, or it is disabled, please ensure you click the 
                                      em Update Totals
                                      |  button before placing your order. You may be charged more than the amount stated above if you fail to do so.&#x9;&#x9;&#x9;
                                      br
                                      button.button.alt(type='submit', name='woocommerce_checkout_update_totals', value='Update totals') Update totals
                                    .woocommerce-terms-and-conditions-wrapper
                                      .woocommerce-privacy-policy-text
                                        p
                                          | Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our 
                                          a.woocommerce-privacy-policy-link(href='https://springfore1dev.wpengine.com/?page_id=3', target='_blank') privacy policy
                                          | .
                                    button#place_order.button.alt(type='submit', name='woocommerce_checkout_place_order', value='Place order', data-value='Place order') Place order
                                    input#woocommerce-process-checkout-nonce(type='hidden', name='woocommerce-process-checkout-nonce', value='2a882031fa')
                                    input(type='hidden', name='_wp_http_referer', value='/?wc-ajax=update_order_review&elementor_page_id=13')
                  .col.m12.s12.l6.x6
                    .block__product
                      ul.list
                        li
                          .box__img
                            span.caun 11
                            a(href='https://springfore1dev.wpengine.com/product/amw-130819/')
                              img.images(src='https://springfore1dev.wpengine.com/wp-content/uploads/2022/04/product_1-1.png', data-src='https://springfore1dev.wpengine.com/wp-content/uploads/2022/04/product_1-1.png', alt='', data-was-processed='true')
                          .info
                            h4.title AMW 130819
                            p.catygory Title of the Product 
                          .price $ 35
                        li
                          .box__img
                            span.caun 4
                            a(href='https://springfore1dev.wpengine.com/product/womens-conf-fee-guild-member/')
                              img.images(src='https://springfore1dev.wpengine.com/wp-content/themes/springforestqigong/img/images_chek.svg', alt='images_1')
                          .info
                            h4.title Women&rsquo;s Conf Fee &ndash; Guild Member
                            p.catygory Title of the Product 
                          .price $ 269
                        li
                          .box__img
                            span.caun 2
                            a(href='https://springfore1dev.wpengine.com/product/level-four-retreat-140810-14/')
                              img.images(src='https://springfore1dev.wpengine.com/wp-content/themes/springforestqigong/img/images_chek.svg', alt='images_1')
                          .info
                            h4.title Level Four Retreat 140810-14
                            p.catygory Title of the Product 
                          .price $ 985
                        li
                          .box__img
                            span.caun 9
                            a(href='https://springfore1dev.wpengine.com/product/born-a-healer-workshop-1-day/')
                              img.images(src='https://springfore1dev.wpengine.com/wp-content/themes/springforestqigong/img/images_chek.svg', alt='images_1')
                          .info
                            h4.title Born A Healer Workshop (1 day)
                            p.catygory Title of the Product 
                          .price $ 148.75
                        li
                          .box__img
                            span.caun 5
                            a(href='https://springfore1dev.wpengine.com/product/finding-your-soul-purpose-digital-audio-downloads-and-eworkbook/')
                              img.images(src='https://springfore1dev.wpengine.com/wp-content/uploads/2022/04/Finding-Your-Soul-Purpose-Digital-Audio-Downloads-and-eWorkbook.jpg', data-src='https://springfore1dev.wpengine.com/wp-content/uploads/2022/04/Finding-Your-Soul-Purpose-Digital-Audio-Downloads-and-eWorkbook.jpg', alt='', data-was-processed='true')
                          .info
                            h4.title Finding Your Soul Purpose &ndash; Digital Audio Downloads and eWorkbook
                            p.catygory Title of the Product 
                          .price $ 64.50
                        li
                          .box__img
                            span.caun 1
                            a(href='https://springfore1dev.wpengine.com/product/appointment/')
                              img.images(src='https://springfore1dev.wpengine.com/wp-content/uploads/2022/06/product_1-1.png', data-src='https://springfore1dev.wpengine.com/wp-content/uploads/2022/06/product_1-1.png', alt='', data-was-processed='true')
                          .info
                            h4.title Appointment
                            p.catygory Title of the Product 
                          .price $ 0
                      ul.shipping
                        li
                          span.title Amount
                          span.num 32
                        li
                          span.title Discount
                          span.num %
                        li
                          span.title Subtotal
                          span.num
                            span.woocommerce-Price-amount.amount
                              bdi
                                span.woocommerce-Price-currencySymbol $
                                | 5,092.25
                      ul.total
                        li
                          span.title Total
                          span.num
                            span.woocommerce-Price-amount.amount
                              bdi
                                span.woocommerce-Price-currencySymbol $
                                | 5,092.25
                //
                  <div class="col2-set" id="customer_details">
                  <div class="col-1">
                  </div>
                  <div class="col-2">
                  </div>
                  </div>





    footer.main
      .container
        .row
          .col.m5.s12.l4.xl3
            .box__logo
              img.logo__img(src='img/logo.svg', alt='logo_w')
            ul.sosel
              li
                a(href='javascript:;')
                  img.logo__img(src='img/face.svg', alt='face')
              li
                a(href='javascript:;')
                  img.logo__img(src='img/twit.svg', alt='twit')
              li
                a(href='javascript:;')
                  img.logo__img(src='img/pint.svg', alt='pint')
              li
                a(href='javascript:;')
                  img.logo__img(src='img/Inst.svg', alt='Inst')
              li
                a(href='javascript:;')
                  img.logo__img(src='img/yout.svg', alt='yout')


          .col.m7.s12.l8.xl4
            h4.title Quick Links

            ul
              li
                a(href='javascript:;') Lorem ipsum
              li
                a(href='javascript:;') Dolor sit amet
              li
                a(href='javascript:;') Consectetur
              li
                a(href='javascript:;') Adipiscing


            ul
              li
                a(href='javascript:;') Lorem ipsum
              li
                a(href='javascript:;') Dolor sit amet
              li
                a(href='javascript:;') Consectetur
              li
                a(href='javascript:;') Adipiscing


          .col.m7.s12.l8.xl5
            h3.title Suspendisse laoreet mattis diam neque sed.

            form(method='POST', action='javascript:void(null);')
              // Hidden Required Fields
              .form_input
                span.field
                  input.name(type='text', name='search', required='', value='', placeholder='Search')

              button.orange(type='submit', name='send') Subscribe

    div.copy
      .container
        .row
          .col.m12.s12.l12.xl12
            p © 2022, K-9 Dryers - 1906 Goldfinch Ln Sauk City WI, 53583








    a.bot_modal.none(data-fancybox='', data-src='#modal-1', href='javascript:;') Open Modal 1
    // //// MODAL ////
    #modal-1.modal__style.modal(style='display: none;')
      .content_modal
        h3 title

        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields

          .form_input
            span.field
              input(type='text', name='name', required='', value='', placeholder='Name')

          .form_input
            span.field
              input.phone(type='text', name='phone', required='', value='', placeholder='Phone')

          button.green(type='submit', name='send') Send



    a.bot_modal.none(data-fancybox='', data-src='#modal-2', href='javascript:;') Open Modal 2
    // //// MODAL ////
    #modal-2.modal__style.modal(style='display: none;')
      .content_modal
        h3 title

        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields

          .form_input
            span.field
              input(type='text', name='name', required='', value='', placeholder='Name')

          .form_input
            span.field
              input.phone(type='text', name='phone', required='', value='', placeholder='Phome')

          .form_input
            span.field
              textarea.textarea(name='message', required='', value='', placeholder='You message')

          button.green(type='submit', name='send') Send



    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
    script.
      // console.log('index.pug');

      $(function(){
        $('[data-fancybox]').fancybox({
        //  touch: false,
          autoFocus: false
        });

        $("#test").on('click', function(){
          $.fancybox.open('<div class="content__poly"><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae saepe cum a mollitia soluta, consequuntur dolor, rem ipsa voluptas sint dignissimos, at ratione accusantium quos. Sapiente, officia quo ipsam quis distinctio. Repellendus id distinctio, placeat, consequatur molestias in error voluptate dolorem voluptatum aliquam, eligendi minima.</p><div>');
        });

      });


