doctype

html(lang='en')
  head

    - var title = "Coursecode"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='img/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/ogg.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )

  body.info(data-img='img/5--.png')
  
    //  src="img/
    //  src="<?= get_template_directory_uri(); ?>/img/


    .bar-long.none

    .scroll__menu.none
      .container


    .all__menu
      .box__menu__
        .top__
          a.logo(href='javascript:;')
            img.logo__img(src='img/logo.svg', alt='logo_w')
          a.close(href='javascript:;')
            img(src='img/close_w.svg?v13', alt='logo_w')
        .menu__content
          ul.menu__
            li
              a(href='javascript:;') Recently Added
            li
              a(href='javascript:;') Masterclass Sessions
            li
              a(href='javascript:;') Summit Home
            li
              a(href='javascript:;') RTT
            li
              a(href='javascript:;') Human Longevity




    header.shop
      .container
        .row
          .col.m12.s12.l12.xl12
            a.logo(href='javascript:;')
              img.logo__img(src='img/logo_green.svg', alt='logo_w')

            ul.menu__
              li
                a(href='javascript:;') Option 1
              li
                a(href='javascript:;') Option 2
              li
                a(href='javascript:;') Option 3


            .box__
              .system_user
                .box__avatar
                  img.logo__img(src='img/avatar.png', alt='user')
                span.name(title="Alex Magamedov Alex Magamedov Alex Magamedov") Alex Magamedov
                a.menu__open(href='javascript:;')
                ul.select
                  li
                    a.my_universe__icon(href='javascript:;') My Universe
                  li
                    a.cart__icon(href='javascript:;') Cart
                  li
                    a.account__icon(href='javascript:;') Account Settings
                  li
                    a.log_out__icon(href='javascript:;') Log Out

              a.sandy_brown(href='javascript:;') Login
              a.help(href='javascript:;') Need help ?
            a.cart__.none(href='javascript:;')
              span 1
            a.mobile__(href='javascript:;')
              img.menu__img(src='img/menu.svg', alt='menu')


    .help__menu.main
      .container
        .row
          .col.m12.s12.l12.xl6
            .box__catygory
              .block__
                img.images(src='img/menu_user.png', alt='menu_user')
              ul
                li
                  a(href='javascript:;') Refund Help
                li
                  a(href='javascript:;') Change/Cancel Help
                li
                  a(href='javascript:;') Seats Help
                li
                  a(href='javascript:;') Comment/Complaint
                li
                  a(href='javascript:;') Baggage Help




          .col.m12.s12.l12.xl6

            ul
              li
                a(href='javascript:;') Help Center
              li
                a(href='javascript:;') Travel Planning FAQs
              li
                a(href='javascript:;') Receipts
              li
                a(href='javascript:;') SkyMiles Help
              li
                a(href='javascript:;') Certificates & eCredits

              li
                a(href='javascript:;') Help Center
              li
                a(href='javascript:;') Travel Planning FAQs
              li
                a(href='javascript:;') Receipts
              li
                a(href='javascript:;') SkyMiles Help
              li
                a(href='javascript:;') Certificates & eCredits


              li
                a(href='javascript:;') Help Center
              li
                a(href='javascript:;') Travel Planning FAQs
              li
                a(href='javascript:;') Receipts
              li
                a(href='javascript:;') SkyMiles Help
              li
                a(href='javascript:;') Certificates & eCredits


              li
                a(href='javascript:;') Help Center
              li
                a(href='javascript:;') Travel Planning FAQs
              li
                a(href='javascript:;') Receipts
              li
                a(href='javascript:;') SkyMiles Help
              li
                a(href='javascript:;') Certificates & eCredits




 


    section.section__.courses-curriculum__1
      .container
        .row
          .col.m12.s12.l12.xl12
            .breadcrumbs(itemscope='' itemtype='http://schema.org/BreadcrumbList')
              ul
                li(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
                  a.breadcrumbs__link(href='https://springforesstg.wpengine.com/' itemprop='item')
                    span(itemprop='name') Home
                  meta(itemprop='position' content='1')
                li.breadcrumbs__current Courses

          .col.m12.s12.l8.xl8
            h2.title Lorem ipsum dolor sit amet, consectetuer adipiscing
            
          .col.m12.s12.l4.xl4
            a.orange(href='javascript:;') Back to Course
            
            
            
            
    section.section__.courses-curriculum__2

      .right__menu
        a.close(href='javascript:;')
        
        
        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields
          .form_input
            span.field
              input.name(type='text', name='search', required='', value='', placeholder='Search courses')


          button(type='submit', name='send')

  
  
        .block__select
          a.title_top(href='javascript:;') Part of the Course
          ul
            li
              a(href='javascript:;') Duration
            li
              a(href='javascript:;') Duration
            li
              a(href='javascript:;') Duration
            li
              a(href='javascript:;') Duration
            li
              a(href='javascript:;') Duration
              
        .block__select
          a.title_top(href='javascript:;') Part of the Course
          ul
            li
              a(href='javascript:;') Duration
            li
              a(href='javascript:;') Duration
            li
              a(href='javascript:;') Duration
            li
              a(href='javascript:;') Duration
            li
              a(href='javascript:;') Duration
              
              
        .block__select
          a.title_top(href='javascript:;') Part of the Course
          ul
            li
              a(href='javascript:;') Duration
            li
              a(href='javascript:;') Duration
            li
              a(href='javascript:;') Duration
            li
              a(href='javascript:;') Duration
            li
              a(href='javascript:;') Duration

      .box__button
        .container
          .row
            .col.m12.s12.l12.xl12
              a.orange(href='javascript:;') Previous
              a.orange(href='javascript:;') Lesson

      
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title Course Description
          .col.m12.s12.l12.xl12
            .block__img
              a.play(href='javascript:;')
                img.logo__img(src='img/courses-curriculum__2_post_img.png', alt='video')
            
          .col.m12.s12.l12.xl12
            h3.title Course Description
            
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
            
            p Lorem ipsum dolor sit a met, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea 
            
            
            a.border_orange(href='javascript:;') Learn more
            
                
                

   





    footer.main.none
      .container
        .row
          .col.m5.s12.l4.xl3
            .box__logo
              img.logo__img(src='img/logo.svg', alt='logo_w')
            ul.sosel
              li
                a(href='javascript:;')
                  img.logo__img(src='img/face.svg', alt='face')
              li
                a(href='javascript:;')
                  img.logo__img(src='img/twit.svg', alt='twit')
              li
                a(href='javascript:;')
                  img.logo__img(src='img/pint.svg', alt='pint')
              li
                a(href='javascript:;')
                  img.logo__img(src='img/Inst.svg', alt='Inst')
              li
                a(href='javascript:;')
                  img.logo__img(src='img/yout.svg', alt='yout')


          .col.m7.s12.l8.xl4
            h4.title Quick Links

            ul
              li
                a(href='javascript:;') Lorem ipsum
              li
                a(href='javascript:;') Dolor sit amet
              li
                a(href='javascript:;') Consectetur
              li
                a(href='javascript:;') Adipiscing


            ul
              li
                a(href='javascript:;') Lorem ipsum
              li
                a(href='javascript:;') Dolor sit amet
              li
                a(href='javascript:;') Consectetur
              li
                a(href='javascript:;') Adipiscing


          .col.m7.s12.l8.xl5
            h3.title Suspendisse laoreet mattis diam neque sed.

            form(method='POST', action='javascript:void(null);')
              // Hidden Required Fields
              .form_input
                span.field
                  input.name(type='text', name='search', required='', value='', placeholder='Search')

              button.orange(type='submit', name='send') Subscribe

    div.copy.none
      .container
        .row
          .col.m12.s12.l12.xl12
            p © 2022, K-9 Dryers - 1906 Goldfinch Ln Sauk City WI, 53583








    a.bot_modal.none(data-fancybox='', data-src='#modal-1', href='javascript:;') Open Modal 1
    // //// MODAL ////
    #modal-1.modal__style.modal(style='display: none;')
      .content_modal
        h3 title

        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields

          .form_input
            span.field
              input(type='text', name='name', required='', value='', placeholder='Name')

          .form_input
            span.field
              input.phone(type='text', name='phone', required='', value='', placeholder='Phone')

          button.green(type='submit', name='send') Send



    a.bot_modal.none(data-fancybox='', data-src='#modal-2', href='javascript:;') Open Modal 2
    // //// MODAL ////
    #modal-2.modal__style.modal(style='display: none;')
      .content_modal
        h3 title

        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields

          .form_input
            span.field
              input(type='text', name='name', required='', value='', placeholder='Name')

          .form_input
            span.field
              input.phone(type='text', name='phone', required='', value='', placeholder='Phome')

          .form_input
            span.field
              textarea.textarea(name='message', required='', value='', placeholder='You message')

          button.green(type='submit', name='send') Send



    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
    script.
      // console.log('index.pug');

      $(function(){
        $('[data-fancybox]').fancybox({
        //  touch: false,
          autoFocus: false
        });

        $("#test").on('click', function(){
          $.fancybox.open('<div class="content__poly"><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae saepe cum a mollitia soluta, consequuntur dolor, rem ipsa voluptas sint dignissimos, at ratione accusantium quos. Sapiente, officia quo ipsam quis distinctio. Repellendus id distinctio, placeat, consequatur molestias in error voluptate dolorem voluptatum aliquam, eligendi minima.</p><div>');
        });

      });


