doctype

html(lang='en')
  head

    - var title = "Coursecode"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='img/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/ogg.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )

  body.info(data-img='img/5--.png')

    //  src="img/
    //  src="<?= get_template_directory_uri(); ?>/img/


    .bar-long.none

    .scroll__menu.none
      .container


    .all__menu
      .box__menu__
        .top__
          a.logo(href='javascript:;')
            img.logo__img(src='img/logo.svg', alt='logo_w')
          a.close(href='javascript:;')
            img(src='img/close_w.svg?v13', alt='logo_w')
        .menu__content
          ul.menu__
            li
              a(href='javascript:;') Recently Added
            li
              a(href='javascript:;') Masterclass Sessions
            li
              a(href='javascript:;') Summit Home
            li
              a(href='javascript:;') RTT
            li
              a(href='javascript:;') Human Longevity




    header.shop
      .container
        .row
          .col.m12.s12.l12.xl12
            a.logo(href='javascript:;')
              img.logo__img(src='img/logo_green.svg', alt='logo_w')

            ul.menu__
              li
                a(href='javascript:;') Option 1
              li
                a(href='javascript:;') Option 2
              li
                a(href='javascript:;') Option 3


            .box__
              .system_user
                .box__avatar
                  img.logo__img(src='img/avatar.png', alt='user')
                span.name(title="Alex Magamedov Alex Magamedov Alex Magamedov") Alex Magamedov
                a.menu__open(href='javascript:;')
                ul.select
                  li
                    a.my_universe__icon(href='javascript:;') My Universe
                  li
                    a.cart__icon(href='javascript:;') Cart
                  li
                    a.account__icon(href='javascript:;') Account Settings
                  li
                    a.log_out__icon(href='javascript:;') Log Out

              a.sandy_brown(href='javascript:;') Login
              a.help(href='javascript:;') Need help ?
            .box__cart
              a#cart.cart__(href='javascript:;')
                span 1
              .block__list.active
                a.close(href='javascript:;')
                #block__list__cart
                  .block__img
                    img.images(src='img/become-an-healer__1_big_img.png', alt='become-an-healer__1_big_img')

                  p.title Masterclass Sessions Masterclass Sessions 
                  span.prise $1000

                  a.sandy_brown(href='javascript:;') Cart
                
                
                
            a.mobile__(href='javascript:;')
              img.menu__img(src='img/menu.svg', alt='menu')


    .help__menu.main
      .container
        .row
          .col.m12.s12.l12.xl6
            .box__catygory
              .block__
                img.images(src='img/menu_user.png', alt='menu_user')
              ul
                li
                  a(href='javascript:;') Refund Help
                li
                  a(href='javascript:;') Change/Cancel Help
                li
                  a(href='javascript:;') Seats Help
                li
                  a(href='javascript:;') Comment/Complaint
                li
                  a(href='javascript:;') Baggage Help




          .col.m12.s12.l12.xl6

            ul
              li
                a(href='javascript:;') Help Center
              li
                a(href='javascript:;') Travel Planning FAQs
              li
                a(href='javascript:;') Receipts
              li
                a(href='javascript:;') SkyMiles Help
              li
                a(href='javascript:;') Certificates & eCredits

              li
                a(href='javascript:;') Help Center
              li
                a(href='javascript:;') Travel Planning FAQs
              li
                a(href='javascript:;') Receipts
              li
                a(href='javascript:;') SkyMiles Help
              li
                a(href='javascript:;') Certificates & eCredits


              li
                a(href='javascript:;') Help Center
              li
                a(href='javascript:;') Travel Planning FAQs
              li
                a(href='javascript:;') Receipts
              li
                a(href='javascript:;') SkyMiles Help
              li
                a(href='javascript:;') Certificates & eCredits


              li
                a(href='javascript:;') Help Center
              li
                a(href='javascript:;') Travel Planning FAQs
              li
                a(href='javascript:;') Receipts
              li
                a(href='javascript:;') SkyMiles Help
              li
                a(href='javascript:;') Certificates & eCredits
 



 


    section.section__.quiz__1
      .container
        .row
          .col.m12.s12.l12.xl12
            .breadcrumbs(itemscope='' itemtype='http://schema.org/BreadcrumbList')
              ul
                li(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
                  a.breadcrumbs__link(href='https://springforesstg.wpengine.com/' itemprop='item')
                    span(itemprop='name') Home
                  meta(itemprop='position' content='1')
                li.breadcrumbs__current Chunyi Lin
                
        .row
          .col.m12.s12.l8.xl8
            h2.title Lorem ipsum dolor sit amet, consectetuer adipiscing
            
          .col.m12.s12.l12.xl12
            .content__quiz
              .block__info 
                h2.title Your type of energy
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                a.orange(href='javascript:;') Next question
              .select
                .input
                  input#select1(type='radio', name='select1', value='select1')
                  label(for='select1') Lorem ipsum dolor sit amet
                .input
                  input#select1(type='radio', name='select1', value='select1')
                  label(for='select1') Lorem ipsum dolor sit amet
                .input
                  input#select1(type='radio', name='select1', value='select1')
                  label(for='select1') Lorem ipsum dolor sit amet
                .input
                  input#select1(type='radio', name='select1', value='select1')
                  label(for='select1') Lorem ipsum dolor sit amet
              .bottom__
                a.green(href='javascript:;') Questions 1/8 
                  
            .content__quiz__all
              .select__list
                .namber Questions 2/8
                .linear
                  span.green__
                  span.red__.select__
                  span
                  span
                  span.green__
                  span.red__
                  span.green__
                  span
                  span.green__
                  span.red__
                  
                h2.title Question 1
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit?

              .select
                .input
                  input#select1(type='radio', name='select1', value='select1')
                  label.failed(for='select1') Lorem ipsum dolor sit amet
                .input
                  input#select1(type='radio', name='select1', value='select1')
                  label(for='select1') Lorem ipsum dolor sit amet
                .input
                  input#select1(type='radio', name='select1', value='select1')
                  label(for='select1') Lorem ipsum dolor sit amet
                .input
                  input#select1(type='radio', name='select1', value='select1')
                  label.check(for='select1') Lorem ipsum dolor sit amet
                  
              .bottom__two
                 a.border_orange(href='javascript:;') Back
                 a.orange(href='javascript:;') Next question
                 
              .select__block
                  
                   
              







    footer.main
      .container
        .row
          .col.m5.s12.l4.xl3
            .box__logo
              img.logo__img(src='img/logo.svg', alt='logo_w')
            ul.sosel
              li
                a(href='javascript:;')
                  img.logo__img(src='img/face.svg', alt='face')
              li
                a(href='javascript:;')
                  img.logo__img(src='img/twit.svg', alt='twit')
              li
                a(href='javascript:;')
                  img.logo__img(src='img/pint.svg', alt='pint')
              li
                a(href='javascript:;')
                  img.logo__img(src='img/Inst.svg', alt='Inst')
              li
                a(href='javascript:;')
                  img.logo__img(src='img/yout.svg', alt='yout')


          .col.m7.s12.l8.xl4
            h4.title Quick Links

            ul
              li
                a(href='javascript:;') Lorem ipsum
              li
                a(href='javascript:;') Dolor sit amet
              li
                a(href='javascript:;') Consectetur
              li
                a(href='javascript:;') Adipiscing


            ul
              li
                a(href='javascript:;') Lorem ipsum
              li
                a(href='javascript:;') Dolor sit amet
              li
                a(href='javascript:;') Consectetur
              li
                a(href='javascript:;') Adipiscing


          .col.m7.s12.l8.xl5
            h3.title Suspendisse laoreet mattis diam neque sed.

            form(method='POST', action='javascript:void(null);')
              // Hidden Required Fields
              .form_input
                span.field
                  input.name(type='text', name='search', required='', value='', placeholder='Search')

              button.orange(type='submit', name='send') Subscribe

    div.copy
      .container
        .row
          .col.m12.s12.l12.xl12
            p © 2022, K-9 Dryers - 1906 Goldfinch Ln Sauk City WI, 53583





 


    a.bot_modal.none(data-fancybox='', data-src='#modal-1', href='javascript:;') Open Modal 1
    // //// MODAL ////
    #modal-1.modal__style(style='display: none;')
      .content_modal
    
        .wp-block-amelia-booking-gutenberg-block
          script.
            if (typeof hasAmeliaAppointment === 'undefined') {
            var hasAmeliaAppointment = true;
            }
            if (typeof hasAppointmentApiCall === 'undefined' && '' === '') {
            var hasAppointmentApiCall = true;
            }
            var hasBookingShortcode = (typeof hasBookingShortcode === 'undefined') ? false : true;
            var bookingEntitiesIds = (typeof bookingEntitiesIds === 'undefined') ? [] : bookingEntitiesIds;
            bookingEntitiesIds.push(
            {
            'hasApiCall': (typeof hasAppointmentApiCall !== 'undefined') && hasAppointmentApiCall,
            'trigger': '',
            'show': '',
            'counter': '0',
            'category': '',
            'service': '',
            'employee': '',
            'location': ''
            }
            );
            var lazyBookingEntitiesIds = (typeof lazyBookingEntitiesIds === 'undefined') ? [] : lazyBookingEntitiesIds;
            if (bookingEntitiesIds[bookingEntitiesIds.length - 1].trigger !== '') {
            lazyBookingEntitiesIds.push(bookingEntitiesIds.pop());
            }
            if (typeof hasAppointmentApiCall !== 'undefined' && hasAppointmentApiCall) {
            hasAppointmentApiCall = false;
            }
          #amelia-app-booking0.amelia-booking.amelia-frontend.amelia-app-booking
            #amelia-booking-wrap.am-wrap
              .am-spinner.am-section(style='display: none;')
                svg.svg-booking.am-spin.inlined-svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 38 38', stroke='#7F8FA4', role='img')
                  g(fill='none', fill-rule='evenodd')
                    g(transform='translate(1 1)', stroke-width='2')
                      circle(stroke-opacity='.5', cx='18', cy='18', r='18')
                      path(d='M36 18c0-9.94-8.06-18-18-18')
                        animatetransform(attributename='transform', type='rotate', from='0 18 18', to='360 18 18', dur='1s', repeatcount='indefinite')
                svg.svg-booking.am-hourglass.inlined-svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 12 16', role='img')
                  // Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch
                  desc Created with Sketch.
                  defs
                  g#Icons(stroke='none', stroke-width='0', fill='none', fill-rule='evenodd', transform='translate(-2.000000, 0.000000)')
                    g#sat(transform='translate(2.000000, 0.000000)', fill='#303C42')
                      path#Fill-694(d='M8.37968,4.8 L3.32848,4.8 C3.22074667,4.8 3.12368,4.86506667 3.08208,4.9648 C3.04101333,5.06453333 3.06394667,5.1792 3.14021333,5.25546667 L5.67834667,7.79093333 C5.72794667,7.84106667 5.79621333,7.86933333 5.86661333,7.86933333 C5.95941333,7.8672 6.00634667,7.84106667 6.05594667,7.7904 L8.56901333,5.2544 C8.64474667,5.1776 8.66714667,5.06346667 8.62554667,4.96426667 C8.58448,4.86453333 8.48741333,4.8 8.37968,4.8')
                      path#Fill-696(d='M6.82293333,7.62293333 C6.6144,7.83146667 6.6144,8.16853333 6.82293333,8.37706667 L9.04,10.5941333 C9.74506667,11.2992 10.1333333,12.2368 10.1333333,13.2341333 L10.1333333,14.4 L9.2,14.4 L6.08,10.24 C5.9792,10.1056 5.75413333,10.1056 5.65333333,10.24 L2.53333333,14.4 L1.6,14.4 L1.6,13.2341333 C1.6,12.2368 1.98826667,11.2992 2.69333333,10.5941333 L4.9104,8.37706667 C5.11893333,8.16853333 5.11893333,7.83146667 4.9104,7.62293333 L2.69333333,5.40586667 C1.98826667,4.7008 1.6,3.7632 1.6,2.7664 L1.6,1.6 L10.1333333,1.6 L10.1333333,2.7664 C10.1333333,3.7632 9.74506667,4.7008 9.04,5.40586667 L6.82293333,7.62293333 Z M11.2,2.7664 L11.2,1.45173333 C11.5173333,1.26666667 11.7333333,0.9264 11.7333333,0.533333333 L11.7333333,0.266666667 C11.7333333,0.119466667 11.6138667,0 11.4666667,0 L0.266666667,0 C0.119466667,0 0,0.119466667 0,0.266666667 L0,0.533333333 C0,0.9264 0.216,1.26666667 0.533333333,1.45173333 L0.533333333,2.7664 C0.533333333,4.048 1.03253333,5.25386667 1.9392,6.16 L3.7792,8 L1.9392,9.84 C1.03253333,10.7461333 0.533333333,11.952 0.533333333,13.2341333 L0.533333333,14.5482667 C0.216,14.7333333 0,15.0736 0,15.4666667 L0,15.7333333 C0,15.8805333 0.119466667,16 0.266666667,16 L11.4666667,16 C11.6138667,16 11.7333333,15.8805333 11.7333333,15.7333333 L11.7333333,15.4666667 C11.7333333,15.0736 11.5173333,14.7333333 11.2,14.5482667 L11.2,13.2341333 C11.2,11.952 10.7008,10.7461333 9.79413333,9.84 L7.95413333,8 L9.79413333,6.16 C10.7008,5.25386667 11.2,4.048 11.2,2.7664 L11.2,2.7664 Z')
              // 
              #amelia-step-booking0.am-step-booking-catalog.am-desktop(style='')
                .am-form-full-wrapper
                  .am-select-service
                    div
                      p.am-select-service-title
                        | Please select service:
                      // 
                    form.el-form.el-form--label-top
                      .el-form-item.am-select-service-option.is-required(extras-error='')
                        label.el-form-item__label(for='serviceId') Service:
                        .el-form-item__content
                          .el-select
                            // 
                            .el-input.el-input--suffix
                              // 
                              input#serviceId.el-input__inner(type='text', readonly='readonly', autocomplete='off', placeholder='')
                              // 
                              span.el-input__suffix
                                span.el-input__suffix-inner
                                  i.el-select__caret.el-input__icon.el-icon-arrow-up
                                  // 
                                  // 
                                  // 
                                  // 
                                  // 
                                // 
                              // 
                              // 
                            .el-select-dropdown.el-popper(style='display: none; min-width: 284px;')
                              .el-scrollbar(style='')
                                .el-select-dropdown__wrap.el-scrollbar__wrap(style='margin-bottom: -17px; margin-right: -17px;')
                                  ul.el-scrollbar__view.el-select-dropdown__list
                                    // 
                                    li.el-select-dropdown__item
                                      span *Coach - 1-on-1 Coaching (60mins)
                                    li.el-select-dropdown__item
                                      span Coach - 1-on-1 Coaching (30mins)
                                    li.el-select-dropdown__item
                                      span Dist - Jaci - Meditation Healing
                                    li.el-select-dropdown__item
                                      span Field Group Healing
                                    li.el-select-dropdown__item
                                      span Field Healing
                                .el-scrollbar__bar.is-horizontal
                                  .el-scrollbar__thumb(style='transform: translateX(0%);')
                                .el-scrollbar__bar.is-vertical
                                  .el-scrollbar__thumb(style='transform: translateY(0%);')
                              // 
                          // 
                      div(extras-error='')
                      // 
                      // 
                      div(extras-error='')
                        .el-form-item(style='display: none;')
                          // 
                          .el-form-item__content
                            .el-row
                              .el-col.el-col-18
                                span(style='font-weight: 700; font-size: 16px;')
                                  | Bringing anyone with you?
                              .am-align-right.el-col.el-col-6
                                .el-switch(role='switch')
                                  input.el-switch__input(type='checkbox', name='', true-value='true')
                                  // 
                                  span.el-switch__core(style='width: 40px;')
                                  // 
                            // 
                        .am-grouped(style='display: none;')
                          .el-form-item
                            label.el-form-item__label Number of Additional Persons:
                            .el-form-item__content
                              .el-select
                                // 
                                .el-input.el-input--suffix
                                  // 
                                  input.el-input__inner(type='text', readonly='readonly', autocomplete='off', placeholder='')
                                  // 
                                  span.el-input__suffix
                                    span.el-input__suffix-inner
                                      i.el-select__caret.el-input__icon.el-icon-arrow-up
                                      // 
                                      // 
                                      // 
                                      // 
                                      // 
                                    // 
                                  // 
                                  // 
                                .el-select-dropdown.el-popper(style='display: none;')
                                  .el-scrollbar(style='')
                                    .el-select-dropdown__wrap.el-scrollbar__wrap(style='margin-bottom: -17px; margin-right: -17px;')
                                      ul.el-scrollbar__view.el-select-dropdown__list
                                        // 
                                        li.el-select-dropdown__item
                                          span -1 Persons
                                    .el-scrollbar__bar.is-horizontal
                                      .el-scrollbar__thumb(style='transform: translateX(0%);')
                                    .el-scrollbar__bar.is-vertical
                                      .el-scrollbar__thumb(style='transform: translateY(0%);')
                                  // 
                              // 
                      // 
                      .am-button-wrapper
                        button.el-button.el-button--primary(type='button')
                          // 
                          // 
                          span
                            | Continue
                // 
                // 
                #amelia-step-booking0-calendar.am-select-date.am-select-service-date-transition.am-show-calendar
                  div
                    p.am-select-date-title
                      | Pick date &amp; time:
                  // 
                  #am-calendar-picker.am-calendar-picker.c-pane-container.is-expanded(data-v-bc55024c='', dragattribute='[object Object]', is-expanded='true', formats='[object Object]', themestyles='[object Object]', style='background-color: rgb(250, 250, 250); border: 1px solid rgb(218, 218, 218);')
                    #am-calendar-picker.c-pane(data-v-2083cb72='', data-v-bc55024c='', dragattribute='[object Object]', attributes='[object Object]', style='min-width: 256px;')
                      .c-header(data-v-2083cb72='')
                        .c-arrow-layout(data-v-2083cb72='')
                          svg.svg-icon.c-arrow(data-v-12e91ab4='', data-v-2083cb72='', width='26px', height='26px', viewbox='3 2 12 32')
                            path(data-v-12e91ab4='', d='M11.196 10c0 0.143-0.071 0.304-0.179 0.411l-7.018 7.018 7.018 7.018c0.107 0.107 0.179 0.268 0.179 0.411s-0.071 0.304-0.179 0.411l-0.893 0.893c-0.107 0.107-0.268 0.179-0.411 0.179s-0.304-0.071-0.411-0.179l-8.321-8.321c-0.107-0.107-0.179-0.268-0.179-0.411s0.071-0.304 0.179-0.411l8.321-8.321c0.107-0.107 0.268-0.179 0.411-0.179s0.304 0.071 0.411 0.179l0.893 0.893c0.107 0.107 0.179 0.25 0.179 0.411z')
                        .c-title-layout.align-center(data-v-2083cb72='')
                          .c-title-popover.popover-container(data-v-1ad2436f='', data-v-2083cb72='', tabindex='-1')
                            // 
                            .c-title-anchor(data-v-2083cb72='', data-v-1ad2436f='')
                              .c-title(data-v-2083cb72='')
                                | June 2022
                        .c-arrow-layout(data-v-2083cb72='')
                          svg.svg-icon.c-arrow(data-v-12e91ab4='', data-v-2083cb72='', width='26px', height='26px', viewbox='-2 1 11 32')
                            path(data-v-12e91ab4='', d='M10.625 17.429c0 0.143-0.071 0.304-0.179 0.411l-8.321 8.321c-0.107 0.107-0.268 0.179-0.411 0.179s-0.304-0.071-0.411-0.179l-0.893-0.893c-0.107-0.107-0.179-0.25-0.179-0.411 0-0.143 0.071-0.304 0.179-0.411l7.018-7.018-7.018-7.018c-0.107-0.107-0.179-0.268-0.179-0.411s0.071-0.304 0.179-0.411l0.893-0.893c0.107-0.107 0.268-0.179 0.411-0.179s0.304 0.071 0.411 0.179l8.321 8.321c0.107 0.107 0.179 0.268 0.179 0.411z')
                      // 
                      .c-weekdays(data-v-2083cb72='')
                        .c-weekday(data-v-2083cb72='')
                          | M
                        .c-weekday(data-v-2083cb72='')
                          | T
                        .c-weekday(data-v-2083cb72='')
                          | W
                        .c-weekday(data-v-2083cb72='')
                          | T
                        .c-weekday(data-v-2083cb72='')
                          | F
                        .c-weekday(data-v-2083cb72='')
                          | S
                        .c-weekday(data-v-2083cb72='')
                          | S
                      // 
                      .c-weeks(data-v-2083cb72='')
                        .c-weeks-rows-wrapper(data-v-2083cb72='')
                          #am-calendar-picker.c-weeks-rows(data-v-28896542='', data-v-2083cb72='', styles='[object Object]', formats='[object Object]', dragattribute='[object Object]', attributes='[object Object]')
                            .c-week(data-v-28896542='')
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='', style='opacity: 0.4;')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 30
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='', style='opacity: 0.4;')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 31
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 1
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 2
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 3
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 4
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 5
                                  // 
                                  // 
                            .c-week(data-v-28896542='')
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 6
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 7
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 8
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 9
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 10
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 11
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 12
                                  // 
                                  // 
                            .c-week(data-v-28896542='')
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 13
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 14
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 15
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 16
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 17
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 18
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 19
                                  // 
                                  // 
                            .c-week(data-v-28896542='')
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 20
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 21
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 22
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 23
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 24
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 25
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 26
                                  // 
                                  // 
                            .c-week(data-v-28896542='')
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 27
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 28
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 29
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 30
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='', style='opacity: 0.4;')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 1
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='', style='opacity: 0.4;')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 2
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='', style='opacity: 0.4;')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 3
                                  // 
                                  // 
                            .c-week(data-v-28896542='')
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='', style='opacity: 0.4;')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 4
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='', style='opacity: 0.4;')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 5
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='', style='opacity: 0.4;')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 6
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='', style='opacity: 0.4;')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 7
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='', style='opacity: 0.4;')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 8
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='', style='opacity: 0.4;')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 9
                                  // 
                                  // 
                              #am-calendar-picker.c-day-popover.popover-container(data-v-1ad2436f='', data-v-3db80f80='', data-v-28896542='', dragattribute='[object Object]')
                                // 
                                .c-day(data-v-3db80f80='', data-v-1ad2436f='', style='opacity: 0.4;')
                                  .c-day-backgrounds.c-day-layer(data-v-3db80f80='', data-v-1ad2436f='')
                                  .c-day-content-wrapper(data-v-3db80f80='', data-v-1ad2436f='')
                                    .c-day-content(data-v-3db80f80='', data-v-1ad2436f='')
                                      div(data-v-3db80f80='', data-v-1ad2436f='')
                                        | 10
                                  // 
                                  // 
                  #am-appointment-times0(style='display: none;')
                    .am-appointment-times.am-scroll
                      .el-radio-group(role='radiogroup')
                  // 
                  #am-button-wrapper-0.am-button-wrapper
                    // 
                    button#am-continue-button.el-button.el-button--default(type='button', style='display: none;')
                      // 
                      // 
                      span
                        | Continue
          // 
          // 
          // 
          // 
          // 
          // 




    a.bot_modal.none(data-fancybox='', data-src='#modal-2', href='javascript:;') Open Modal 2
    // //// MODAL ////
    #modal-2.modal__style.modal(style='display: none;')
      .content_modal
        h3 title

        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields

          .form_input
            span.field
              input(type='text', name='name', required='', value='', placeholder='Name')

          .form_input
            span.field
              input.phone(type='text', name='phone', required='', value='', placeholder='Phome')

          .form_input
            span.field
              textarea.textarea(name='message', required='', value='', placeholder='You message')

          button.green(type='submit', name='send') Send



    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
    script.
      // console.log('index.pug');

      $(function(){
        $('[data-fancybox]').fancybox({
        //  touch: false,
          autoFocus: false
        });

        $("#test").on('click', function(){
          $.fancybox.open('<div class="content__poly"><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae saepe cum a mollitia soluta, consequuntur dolor, rem ipsa voluptas sint dignissimos, at ratione accusantium quos. Sapiente, officia quo ipsam quis distinctio. Repellendus id distinctio, placeat, consequatur molestias in error voluptate dolorem voluptatum aliquam, eligendi minima.</p><div>');
        });

      });


